{% extends 'home.html' %}

{% block header %}
  <h1>{% block title %}Add Device{% endblock %}</h1>
{% endblock %}

{% block page_header %}
  <h2>Add Devices</h2>
{% endblock %}

{% block content %}
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-4">
        <form method="post">
          {{ add_single_device.hidden_tag() }}
          <fieldset class="form-group">
            <div class="form-group">
              {{ add_single_device.device_id.label }} {{ add_single_device.device_id(class="form-control") }}
            </div>
            <div class="form-group">
              {{ add_single_device.device_name.label }} {{ add_single_device.device_name(class="form-control") }}
            </div>
            <div class="form-group">
              {{ add_single_device.serial_udid.label }} {{ add_single_device.serial_udid(class="form-control") }}
            </div>
            <div class="form-group">
              {{ add_single_device.manufacturer.label }} {{ add_single_device.manufacturer }}
            </div>
            <div class="form-group">
              {{ add_single_device.model.label }} {{ add_single_device.model }}
            </div>
            <div class="form-group">
              {{ add_single_device.device_type.label }} {{ add_single_device.device_type }}
            </div>
            <div class="form-group">
              {{ add_single_device.os_version.label }} {{ add_single_device.os_version(class="form-control") }}
            </div>
            <div class="form-group">
              {{ add_single_device.office.label }} {{ add_single_device.office }}
            </div>
              {{ add_single_device.submit(class="btn btn-primary") }}
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-4">
        <form action="" method=post enctype=multipart/form-data>
          {{ add_single_device.hidden_tag() }}
          <fieldset class="form-group">
            <div class="form-group">
              {{ upload_file.file.label }} {{ upload_file.file }}
            </div>
            {{ upload_file.upload_submit(class="btn btn-primary") }}
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}