{% extends 'home.html' %}

{% block header %}
  <h1>{% block title %}Manage Users{% endblock %}</h1>
{% endblock %}

{% block page_header %}

{% endblock %}
{% block content %}
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-4">
        <h2>Add Users</h2>
        <form action="" method="post" novalidate>
          {{ add_single_user.hidden_tag() }}
          <fieldset class="form-group">
            <div class="form-group">
                  {{ add_single_user.first_name.label }} {{ add_single_user.first_name(class="form-control") }}
            </div>
            <div class="form-group">
                  {{ add_single_user.last_name.label }} {{ add_single_user.last_name(class="form-control") }}
            </div>
            <div class="form-group">
                  {{ add_single_user.slack_id.label }} {{ add_single_user.slack_id(class="form-control") }}
            </div>
            {{ add_single_user.submit(class="btn btn-primary") }}
          </fieldset>
        </form>
      </div>
      <div class="col-lg-4 offset-lg-2">
        <h2>Users</h2>
        {{ table }}
      </div>
    </div>
  </div>

  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-4">
        <form action="" method=post enctype=multipart/form-data>
          {{ upload_file.hidden_tag() }}
          <fieldset class="form-group">
            <div class="form-group">
            {{ upload_file.file.label }} {{ upload_file.file }}
            </div>
            {{ upload_file.upload_submit(class="btn btn-primary") }}
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}