[DEFAULT]
ReminderInterval = 14400
CheckoutExpires = 259200
Location = OfficeLocation

[DATABASE]
name = DeviceNanny
host = localhost
user = root
password = YourPassword

[SLACK]
ApiKey = YourApiKey
channel = YourNannySlackChannelID
team_channel = ChannelForEntireTeamSlackID